/* Container for the diagnosis section */
.diagnosis {
  margin-top: 30px;
}

/* Message above the diagnosis boxes */
.diagnosis-message {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

/* Container for additional message */
.message-container {
  margin-top: 20px;
}

.message {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Container for the diagnosis boxes */
#diagnosis-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  max-height: calc(100vh - 250px); /* Adjust based on other content and footer height */
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.diagnosis-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.percentage {
  font-weight: bold;
}

/* Style for symptom details */
.symptom-details {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background: #f9f9f9;
}

.symptom-header {
  font-size: 18px;
  font-weight: bold;
}

.symptom-item {
  margin: 5px 0;
}

#edit-symptoms {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

#edit-symptoms:hover {
  text-decoration: underline;
}
